.container_flex{
  display: flex;
}

.container_flex_column{
  display: flex;
  flex-direction: column;
}

.container_20_width{
  width: 20%;
}

.container_30_width{
  width: 30%;
}
.container_50_width{
  width: 50%;
}
.container_100_width{
  width: 100%;
}
