// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Set your colors
//$primary: #73ab84;
//$secondary: #E2C044;
//$red: #A8201A
$primary: #388E3C;
$primary-invert: findColorInvert($primary);
$primary-light: #99d19c;
$secondary: #69F0AE;
$secondary-invert: findColorInvert($secondary);
$accent: #FF9100;
$accent-invert: findColorInvert($accent);
$menu-background: #f5f5f5;
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
$danger-light: #EC407A;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: ("white": ($white,
    $black),
  "black": ($black,
    $white),
  "light": ($light,
    $light-invert),
  "dark": ($dark,
    $dark-invert),
  "primary": ($primary,
    $primary-invert),
  "secondary": ($secondary,
    $secondary-invert),
  "accent": ($accent,
    $accent-invert),
  "info": ($info,
    $info-invert),
  "success": ($success,
    $success-invert),
  "warning": ($warning,
    $warning-invert),
  "danger": ($danger,
    $danger-invert),
  "twitter": ($twitter,
    $twitter-invert));

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

//menu
$menu-item-hover-background-color: $secondary;

//navBar
$navbar-background-color: #F5F5F5;
$navbar-item-color: #000501;

//dropdowns
$dropdown-item-active-background-color: $primary-light;

//tipografía
$body-family: 'Nunito',
sans-serif;

//metadata helpers
$metadata-active: $secondary;
$metadata-inactive: $accent;

:export {
  primary: $primary;
  secondary: $secondary;
  accent: $accent;
}

@import "./table.scss";
@import "./float_button.scss";
@import "./text.scss";
@import "./shake_field.scss";
@import "./icon.scss";
@import "./autocomplete_box.scss";
@import "./box.scss";
@import "./container.scss";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";