.table {
    width: 1000px;
    font-size: 13px;
    align-content: center;
    align-items: center;
    border-collapse: separate !important;
    border-spacing: 0 15px !important;
}

.borderless td,
.borderless th {
    border-collapse: separate !important;
    border-spacing: 0 15px;
    border: none !important;
}

.table tr.selected {
    background-color: $primary !important;;
}

.table tr.selected:hover {
    background-color: $primary !important;;
}

.table tr.selected::selection {
    background-color: $primary !important;
}

.table tr.not-selected {
    background-color: $light;
    border-radius: 10px 10px 10px 10px;
}

.table tr.not-selected:hover {
    background-color: $secondary !important;
}

// .table tr :hover {
// background-color: $secondary;
// }

// .table td:hover {
// background-color: $secondary;
// }

.table th .th-wrap {
    font-weight: normal;
    justify-content: center;
    text-align: center;
}

.table tr:hover {
    cursor: pointer;
}