.icon {
    height: 30px;
    width: 30px;
    transition: 0.2s;
}

.icon:hover {
    height: 35px;
    width: 35px;
    filter: invert(1);
    transition: 0.2s;
    cursor: pointer;
}

.static_icon{
    height: 30px;
    width: 30px;
    // transition: 0.2s;
}